<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',    filename='css/style.css') }}" />
</head>
  <body bgcolor="#ffbd52">
    <header>
        <nav>
          <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('formsentence') }}">Form a Sentence</a></li>
            <li><a href="{{ url_for('square') }}">Square and Cube</a></li>
            <li><a href="{{ url_for('conversion') }}">Conversion Tool</a></li>
            <li><a href="{{ url_for('multiplicationtable') }}">Multiplication Table</a></li>
            <li><a href="{{ url_for('guessinggame') }}">Guessing Game</a></li>
            <li><a href="{{ url_for('shoppinglist') }}">Shopping List</a></li>
            <li><a href="{{ url_for('findvowels') }}">Count Vowels</a></li>
            <li><a href="{{ url_for('cookiecafe') }}">The Cookie Cafe</a></li>
            <li><a href="{{ url_for('wildcats') }}">Wild Cats</a></li>
            <li><a href="{{ url_for('birthdaycountdown') }}">Birthday Countdown</a></li>
            <li><a href="{{ url_for('converttoseconds') }}">Convert to Seconds</a></li>
            <li><a href="{{ url_for('aspectratiocalculator') }}">Aspect Ratio Calculator</a></li>
          </ul>
        </nav>
    </header>
    
{% block content %}
{% endblock %}

 </body>
</html>