
    {% block content %}

<div align="center">

<form method="post" action="/guessing_game">
    <label for="multiply">Guess the computers choice</label>
    <input type="number" id="number" name="number">
    <input type="submit" value="Guess">
    
</form>
{{ error_msg }}
<br/>

{% if game != '' %}

{% if game[0] == 5 %}
<h2>GAME OVER!! Press Guess Again to Restart Game</h2>
{% endif %}

<h3>Round - {{game[0]}}</h3>
<h3>Result - You {{game[1]}}</h3>

{% if game[1] == 'Lost' %}
<h3>The Computer chose - {{game[2]}}</h3>
{% endif %}

<h3>Your Score - {{game[3]}}</h3>
<h3>Computers Score - {{game[4]}}</h3>

{% endif %}

<br/>

<hr/>

</div>

{% endblock %}